{% extends 'base.html.twig' %}

{% block title %}Hello ListeRapportsController!{% endblock %}

{% block body %}
    <h1>Tous les rapports</h1>
    <h2>Vous avez en tout fait {{ pluralize(rapports|length, 'rapport', 'rapports')}}.</h2>

    {% for rapport in rapports %}
        <article>
            <p>{{ rapport.motif}} </p>
            <p>{{ rapport.bilan}} </p>
            <p>
                <a href="{{ path('liste_rapports_detail', {id: rapport.id}) }}"> {{ rapport.motif}} </a>
            </p>


        </article>
    {% endfor %}
{% endblock %}
